.container {
  overflow: hidden;
  width: 100%;
  // border: 1px solid red;
  padding: 10px;
  // padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .searchbox {
    position: absolute;
    top: 75px;
    left: 10px;
    right: 10px;
    // border: 1px solid blue;
    padding: 0 10px;
    // width: 60%;
    height: 45px;
    border-radius: 5px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;

    .icon {
      margin: 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        margin-top: 5px;
        width: 80%;
        height: 20px;
      }
    }

    .inputbox {
      height: 45px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .search {
        background-color: #f7f7f7;
        border: none;
        width: 100%;
        font-size: 15px;
        padding: 10px;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .profile{
    overflow: hidden;
    display: flex;
    // flex-direction: row;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .info{
      visibility: hidden;
      width: 0;
      height: 0;
      // padding-left: 15px;
      .name{
        font-weight: 600;
        padding-top: 8px;
      }
      .position{
        font-size: small;
        font-weight: 400;
        padding-bottom: 8px;
      }
    }
    .toggle-btn{
      margin-left: 10px;
      cursor: pointer;
      transform: rotate(-180deg);
      img{
        width: 15px;
        height: 15px;
        margin-right: 5px;
      }
    }
  }
  .mob-sidebar{
    // border: 1px solid blue;
    position: fixed;
    right: 10px;
    bottom: 0;
    width: 70vw;
    height: 100vh;
    background-color: white;
    box-shadow: -20px 0px 11px 1px #9b9b9b;
    .mob-container{
    // border: 1px solid rgb(236, 19, 55);

      padding: 25px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .mob-toggle-btn{
        width: 100%;
        cursor: pointer;
        position: relative;
        .mob-close-icon{
          // border: 1px solid red;
          position: absolute;
          right: 0;
          top: 10px;
        }
      }

      .mob-info{
        // border: 1px solid green;
        .mob-name{
          margin-top: 8px;
          font-weight: 700;
        }
        .mob-position{
          font-size: small;
          font-weight: 300;
        }
      }

      .mob-list{
        width: 100%;
        height: 70vh;
        padding: 0;
        // border: 1px solid green;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        

        .mob-listitem{
          margin: 10px;
          font-size: 1.1rem;
          font-weight: 500;

          &:hover{
            color: #6c63ff;
          }
        }
      }
      
    }
  }
}

@media screen and (min-width: 768px) {
  .container{
    padding: 15px 40px;

    .searchbox{
      position: static;
      width: 60%;
    }

    .profile{
      .info{
        visibility: visible;
        width: 100%;
        height: 100%;
        padding-left: 10px;
      }
    }

    .mob-sidebar{
      display: none;
    }
  }
}

