@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

html{
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after{
  box-sizing: inherit;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

a, a:active, a:visited{
  text-decoration: none;
}