.content-container{
    // border: 1px solid red;
    padding: 0 10px;
    margin-top: 65px;

    .welcome-note{
        font-size: 1.3rem;
        font-weight: bold;
        color: #192434;
        // margin-bottom: 10px;
        margin-bottom: 5px;
    }
    .welcome-message{
        font-size: 0.8rem;
        color: #6E6F7D;
    }

    .stats-container{
        // border: 1px solid;
        display: flex;
        flex-direction: column;
        .stats-container-combo{
            display: flex;
            justify-content: space-between;
        }
    }
}

@media screen and (min-width: 769px){
    .content-container{
        margin-top: 0;
        // margin-left: 270px;
        margin-left: 260px;

        .stats-container{
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            .stats-container-solo{
                height: 100%;
                width: 40%;
                margin-right: 10px;
            }

            .stats-container-combo{
                height: 100%;
                width: 60%;
            }
        }
    }
}

@media screen and (max-width: 1024px) and (min-width: 1300px) {
    .content-container{
        margin-left: 260px;
    }
}
@media screen and (min-width: 1360px){
    .content-container{
        margin-left: 280px;
    }
}
@media screen and (min-width: 1400px){
    .content-container{
        margin-left: 300px;
    }
}

